
<mat-form-field style="width:470px;">
    <input style="min-width:380px;" matInput class="mat-select-search-inner task-input" [formControl]="searchInput" type="text">
    <span><button mat-button style="height: 50px;" (click)="showAddTask=!showAddTask"> <mat-icon >{{ showAddTask ? 'close' : 'add'}}</mat-icon> </button></span>
</mat-form-field>

<mat-form-field *ngIf="showAddTask" style="width:470px;display: block; border: 0px;">
    <input  style="min-width:380px;" matInput class="task-input" [formControl]="addTaskInput"  type="text" (keydown)="addTaskKeyDownEvent($event)">
    <span><button mat-button style="height: 50px;" (click)="addTask()"> <mat-icon >check</mat-icon> </button></span>
</mat-form-field>

<div style="width:400px;" *ngFor="let task of filteredSearch; index as i">
    <input #editTaskInput (keydown)="editTask($event, editTaskInput, i)" *ngIf="showEditInputs[i]" style="min-width:240px; position: absolute;" matInput class="task-input"  type="text">
    <mat-selection-list
    #taskList
    style="width:272px; display: inline-block;" 
    [formControl]="selectMultiSearch"
    (selectionChange)="selectionChange($event, taskList.selectedOptions.selected)">
        <div style="display: inline;position: relative;">
            <mat-list-option [value]="task">
                <div [ngClass]="'strikethrough'">{{task}}</div>
            </mat-list-option>
        </div>
    </mat-selection-list>
    
    <span><button mat-button (click)="deleteTask(i)"> <mat-icon >delete</mat-icon> </button></span>
    <span><button mat-button > <mat-icon (click)="showEditInputs[i]=true">edit</mat-icon> </button></span>
</div>