
<mat-form-field >
    <input matInput class="task-input" [formControl]="searchInput" type="text">
    <span><button mat-button (click)="showAddTask=!showAddTask"> <mat-icon >{{ showAddTask ? 'close' : 'add'}}</mat-icon> </button></span>
</mat-form-field>

<mat-form-field *ngIf="showAddTask">
    <input matInput class="task-input" [formControl]="addTaskInput"  type="text" (keydown)="addTaskKeyDownEvent($event)">
    <span><button mat-button (click)="addTask()"> <mat-icon >check</mat-icon> </button></span>
</mat-form-field>

<div class="task-list" style="width:400px;" >
    <mat-selection-list
    #taskList
    [formControl]="selectMultiSearch"
    (selectionChange)="onSelection($event, taskList.selectedOptions.selected)"
    class="custom-scroll-bar">
        <mat-list-option
            #matOption 
            checkboxPosition="before" 
            *ngFor="let task of filteredSearch; index as i" 
            [value]="task"
            (keydown)="$event.stopPropagation()">
            <input
                #editTaskInput
                matInput
                *ngIf="showEditInputs[i]" 
                type="text"
                (keydown)="editTaskKeyDownEvent($event, editTaskInput, i)"
                class="edit-input" >
            <div style="width: 100px" [ngClass]="matOption.selected ? 'strikethrough' : 'empty'">{{task}}</div>
            <div class="actions">
                <span><button mat-button (click)="deleteTask(i)"> <mat-icon >delete</mat-icon> </button></span>
                <span><button mat-button> <mat-icon (click)="editTask($event, editTaskInput, i);">{{ showEditInputs[i] ? 'check' : 'edit' }}</mat-icon> </button></span>
            </div>
        </mat-list-option>
    </mat-selection-list>
</div>